@import '../../../styles/variables.css';

.header {
  composes: pageHeader from '../../../styles/mixins.css';
}

.title {
  composes: pageTitle from '../../../styles/mixins.css';
}

.subtitle {
  margin-top: var(--spacing-xs);
  font-size: var(--font-size-sm);
  color: var(--color-text-secondary);
}

.actions {
  composes: pageActions from '../../../styles/mixins.css';
}

