.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 0 24px;
  border-bottom: 1px solid #f0f0f0;
}

.logo {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.logoImg {
  height: 36px;
  width: 36px;
  object-fit: contain;
}

